<div class="d-flex justify-content-center">
  <div>
  <h1>Welcome to Road to Rome</h1>
  <p>    A common phrase says "all roads lead to Rome"</p>
  <p>    But they forget to tell you those roads ain't free. </p>
  <p>    Start planning your next trip here!</p>

  <h3><%= link_to 'Log in', '/login' %> or <%= link_to 'Sign up', '/signup' %></h3>
  </div>
</div>