


  <br>
  <label>Location</label> <br>
  <%= f.text_field :location %><br>
  <label>Lodging:</label><br>
  <%= f.text_field :lodging%><br>
  <label>Lodging Price</label><br>
  <%= f.number_field :lodging_price %><br>
 
 
