<h1>Where are we going?</h1>
<%= render partial: "layouts/errors", locals: { object: @destination} %>
<%= form_for(@destination) do |f| %>
<%= render partial: "form", locals: {f: f}%>
<%= f.submit "Input Lodging Info!" %>
  <% end %>
  